h2 {
    color: #4C4E52;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


input {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #4C4E52;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #4C4E52;
}
